asgiref==3.6.0
certifi==2022.12.7
css==0.1
distlib==0.3.6
Django==4.2
filelock==3.11.0
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.1.1
php==1.2.1
pipenv==2023.3.20
platformdirs==3.2.0
PyMySQL==1.0.3
pywin32==306
sql==2022.4.0
sqlparse==0.4.3
tzdata==2022.7
virtualenv==20.21.0
virtualenv-clone==0.5.7
